* {
  margin: 0;
  padding: 0;
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* NOTE:for debbuging  */
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}
.contact {
  background-color: red;
}
#navbar {
  height: 10vh;
  position: absolute;
  display: grid;
  width: 100%;
  grid-template-columns: 5fr 5fr 1fr;
  background-color: #222831;
}
.navbar-links {
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 20px;
}
.navbar-logo img {
  width: 50px;
  height: 50px;
}

#navbar-btn {
  background-color: transparent;
  padding: 0.8em;
  border-radius: 10%;
  width: 8em;
  border: 1px solid #76abae;
  color: #76abae;
  cursor: pointer;
  transition-duration: 0.4s;
  z-index: 1;
}
#navbar-btn:hover {
  color: #ffffff;
  background-color: #76abae;
}
/* ---- SECTION: HEADER */

#main-header {
  background-color: #222831;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #76abae;
  /* box-shadow: #76abae 0px -12px 30px, #76abae 0px 4px 6px, #76abae 0px 12px 13px,
    #76abae 0px -3px 5px; */
}
.header-content {
  width: 50%;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}
.main-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.main-text-content h1 {
  font-size: 55px;
  font-weight: 600;
}
.main-text-content p {
  font-size: 20px;
}
.link-logos img {
  width: 30px;
  height: 30px;
  border: 0;
  margin: 5px;
}
#react-word {
  color: #76abae;
  font-weight: 600;
}

/* SECTION: TECHNOLOGIES */
#technologies {
  background-color: #31363f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

#technologies img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

/* --- SECTION: ABOUT ME*/
#about-me {
  background-color: #222831;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
#about-me > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 30px;
  text-align: justify;
}
#about-me img {
  width: 400px;
}
#about-me h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}
#about-me p {
  line-height: 1.2;
}
/* ---- SECTION: PROJECTS*/
#projects {
  padding: 50px;
  background-color: #31363f;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 100px;
}
#project-card {
  width: 40vw;
  height: 30vh;
  background-color: #222831;
  text-align: justify;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  font-size: 16px;
}
#project-card img {
  width: 100%;
  height: 100%;
}
#project-card > div {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}
#project-card-links {
  display: flex;
  justify-content: start;
  gap: 30px;
  width: 10vw;
}
#project-card-btn {
  border: 0;
  box-shadow: 0 3px 15px rgba(118, 171, 174, 0.5);
  cursor: pointer;
}
#project-card-btn:hover {
  box-shadow: 0 3px 30px rgba(118, 171, 174, 1);
  background-color: red;
}

/* SECTION: FOOTER */
#footer {
  width: 100%;
  height: 30vh;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#footer img {
  width: 30px;
  height: 30px;
  padding: 5px;
}
#footer > img {
  width: 100px;
  height: 100px;
}

/* SECTION: MEDIA QUERY */
/* TODO: media query za navbarot */
@media screen and (max-width: 384px) {
  #navbar-btn {
    padding: 0.6em;
    width: 6em;
  }
  .header-content > img {
    width: 150px;
    height: 150px;
  }
  .header-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-text-content h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .main-text-content p {
    font-size: 16px;
  }
  #technologies img {
    width: 40px;
    height: 40px;
  }
  #about-me > div {
    width: 90%;
  }
  #about-me img {
    display: none;
  }
  #project-card {
    width: 80vw;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  #footer > img {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 385px) and (max-width: 480px) {
  #navbar-btn {
    padding: 0.7em;
    width: 7em;
  }
  .header-content > img {
    width: 200px;
    height: 200px;
  }
  .header-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-text-content h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .main-text-content p {
    font-size: 16px;
  }
  #technologies img {
    width: 50px;
    height: 50px;
  }
  #about-me > div {
    width: 80%;
  }
  #about-me img {
    display: none;
  }
  #project-card {
    width: 80vw;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  #footer > img {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header-content {
    width: 70%;
    grid-template-columns: 1fr;
  }
  .header-content > img {
    display: none;
  }
  .main-text-content h1 {
    font-size: 45px;
    font-weight: 700;
  }
  .main-text-content p {
    font-size: 20px;
  }
  .link-logos img {
    width: 50px;
    height: 50px;
  }
  #technologies img {
    width: 60px;
    height: 60px;
  }
  #about-me > div {
    width: 70%;
  }
  #about-me img {
    display: none;
  }
  #project-card {
    width: 90vw;
    height: auto;
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 769px) and (max-width: 1039px) {
  .header-content {
    width: 80%;
    grid-template-columns: 1fr 3fr;
  }
  .header-content > img {
    width: 250px;
    height: 250px;
  }
  #technologies img {
    width: 70px;
    height: 70px;
  }
  #about-me > div {
    width: 80%;
  }
  #about-me img {
    width: 200px;
  }
  #project-card {
    width: 80vw;
    height: auto;
  }
}
@media screen and (min-width: 1040px) and (max-width: 1460px) {
  .header-content {
    width: 70%;
    height: auto;
  }
  #technologies img {
    width: 80px;
    height: 80px;
  }
  #about-me > div {
    width: 70%;
  }
  #about-me img {
    width: 300px;
  }
  #project-card {
    width: 60vw;
    grid-template-columns: 1fr 3fr;
  }
}
