* {
  margin: 0;
  padding: 0;
  color: #eeeeee;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
::selection {
  color: #222831;
  background: #76abae;
}
.container {
  width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 1px solid red; */
}
.contact {
  opacity: 1;
  display: block;

  width: 100%;
  height: 100vh;
  position: absolute;
  color: white;

  background-color: #222831;
}
.contact h1 {
  font-size: 55px;
  font-weight: 500;
}
.off {
  display: none;
  opacity: 0;
}
#contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}
.contact-btn {
  padding: 10px;
  width: 300px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #76abae;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.mail-btn {
  background-color: #76abae;
  &:hover {
    background-color: #3d6e70;
  }
}
.msg-btn:hover {
  background-color: #31363f;
}

/* --- */
#navbar {
  height: 10vh;
  position: absolute;
  width: 100%;
  background-color: #222831;
  z-index: 1;
}
.nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-links {
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  pointer-events: none;
}
.navbar-logo img {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
}
#navbar-btn-back {
  color: #ffffff;
  background-color: #76abae;
  padding: 0.8em;
  border-radius: 10%;
  width: 8em;
  border: 1px solid #76abae;
  cursor: pointer;
  transition-duration: 0.4s;
  z-index: 1;
  margin-right: 1rem;
}
#navbar-btn {
  background-color: transparent;
  padding: 0.8em;
  border-radius: 10%;
  width: 8em;
  border: 1px solid #76abae;
  color: #76abae;
  cursor: pointer;
  transition-duration: 0.4s;
  z-index: 1;
  margin-right: 1rem;
}
#navbar-btn:hover {
  color: #ffffff;
  background-color: #76abae;
}
/* ---- SECTION: HEADER */

#main-header {
  background-color: #222831;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #76abae;
  pointer-events: none;
  place-self: center;
}
.header-content {
  width: 1280px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}
.main-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.main-text-content h1 {
  font-size: 55px;
  font-weight: 600;
}
.main-text-content p {
  font-size: 20px;
}
.link-logos {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.download-cv {
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid #3d6e70;
  border-radius: 5rem;

  &:hover {
    background-color: #76abae;
    cursor: pointer;
  }
}
#react-word {
  color: #76abae;
  font-weight: 600;
}

/* SECTION: TECHNOLOGIES */
#technologies {
  background-color: #31363f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.icon {
  padding: 1rem;
  font-size: 100px;
  color: #76abae;

  &:hover {
    color: #3d6e70;
  }
}
.icon-w:hover {
  color: rgba(255, 255, 255, 0.603);
}

/* --- SECTION: ABOUT ME*/
#about-me {
  background-color: #222831;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
#about-me > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 30px;
  text-align: justify;
}
#about-me img {
  width: 400px;
  pointer-events: none;
}
#about-me h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}
#about-me p {
  font-size: 17px;
  line-height: 1.2;
}

/* ---- SECTION: PROJECTS*/
#projects {
  padding: 50px;
  background-color: #31363f;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 6rem 0;
}
.projects-headline {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}
#project-card {
  width: 1280px;
  min-height: 20rem;
  max-height: auto;
  background-color: #31363f;
  text-align: justify;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  font-size: 20px;
}
#project-card button {
  width: 100px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #3d6e70;
  border-radius: 10%;
}
#project-card img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#project-card > div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#project-card-links {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 1rem;
}
#project-card-btn {
  border: 0;
  border-bottom: 1px solid #3d6e70;
  /* cursor: pointer; */
  &:hover {
    border-bottom: 1px solid #76abae;
    background-color: red;
    #project-card button {
      background-color: #76abae;
      cursor: pointer;
    }
  }
}

/* SECTION: FOOTER */
#footer {
  width: 100%;
  height: 30vh;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#footer img {
  width: 30px;
  height: 30px;
  padding: 5px;
  pointer-events: none;
}
#footer > img {
  width: 100px;
  height: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #222831;
}
::-webkit-scrollbar-thumb {
  background: #76abae;
}
::-webkit-scrollbar-thumb:hover {
  background: #3d6e70;
}
/* SECTION: MEDIA QUERY */
/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
  .header-content {
    width: 1280px;
    height: auto;
  }

  #about-me > div {
    width: 70%;
  }
  #about-me img {
    width: 300px;
  }
  #project-card {
    width: 1024px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .header-content {
    width: 1024px;
    height: auto;
  }
  #project-card {
    width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .header-content {
    width: 100%;
    grid-template-columns: 1fr 3fr;
  }
  .header-content > img {
    width: 250px;
    height: 250px;
  }

  #about-me > div {
    width: 80%;
  }
  #about-me img {
    width: 200px;
  }
  #project-card {
    width: 750px;
    padding: 0.5rem;
  }
  .icon {
    font-size: 70px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .header-content {
    width: 640px;
    grid-template-columns: 1fr;
  }

  .main-text-content h1 {
    font-size: 45px;
    font-weight: 700;
  }
  .main-text-content p {
    font-size: 20px;
  }
  .link-logos img {
    width: 50px;
    height: 50px;
  }

  #about-me > div {
    width: 70%;
  }
  #about-me img {
    display: none;
  }
  #project-card {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    gap: 0.5rem;
  }
  #project-card img {
    width: 70%;
    height: 100%;
    pointer-events: none;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  #technologies {
    column-gap: 4.8rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  #navbar-btn {
    padding: 0.7em;
    width: 7em;
  }
  .header-content > img {
    width: 200px;
    height: 200px;
  }
  .header-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-text-content h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .main-text-content p {
    font-size: 16px;
  }

  #about-me > div {
    width: 80%;
  }
  #about-me img {
    display: none;
  }
  #project-card img {
    width: 100%;
  }
  #footer > img {
    width: 70px;
    height: 70px;
  }
  #technologies {
    column-gap: 1.3rem;
  }
  .contact-btn {
    width: 270px;
    height: 45px;
  }
  .contact h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 384px) {
  #navbar-btn {
    padding: 0.6em;
    width: 6em;
  }

  .header-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-text-content h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .main-text-content p {
    font-size: 16px;
  }

  #about-me > div {
    width: 90%;
  }
  #about-me img {
    display: none;
  }

  #footer > img {
    width: 70px;
    height: 70px;
  }
  #technologies {
    column-gap: 0.2rem;
  }
}
